# Pandas (1 hour)

[Pandas](https://pandas.pydata.org/) is a newer package built on top of NumPy library, which in practice means that most of the methods defined for Numpy Arrays apply to Pandas Series/DataFrames. 

Pandas provides an efficient implementation of a [`DataFrame`](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.html), which is a collection of [`Series`](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.html); The `DataFrame` is the way Pandas represents a table, and `Series` is the data-structure Pandas use to represent a column.

`DataFrame`s are essentially multidimensional arrays with attached row and column labels, and often with heterogeneous types and/or missing data. 

Reference & useful links: [Python Data Science Handbook](https://jakevdp.github.io/PythonDataScienceHandbook/index.html), [Plotting and Programming in Python](https://swcarpentry.github.io/python-novice-gapminder/), [Getting started tutorials](https://pandas.pydata.org/docs/getting_started/intro_tutorials/index.html)

# Loading data with Pandas

Load Pandas with `import pandas as pd`. The **alias** `pd` is commonly used to refer to the Pandas library in code.

In [1]:
import pandas as pd

To display the package's built-in documentation, we can use this:

In [ ]:
pd?

*Show the webpage for the periodic table data at first.*

## Reading a Comma Separated Values (CSV) data file with `pd.read_csv`

* Argument is the name of the file to be read.
* Returns a dataframe that you can assign to a variable

The comma-separated-value data here is a periodic table:

In [2]:
periodic_table = pd.read_csv("https://gist.githubusercontent.com/GoodmanSciences/c2dd862cd38f21b0ad36b8f96b4bf1ee/raw/1d92663004489a5b6926e944c1b3d9ec5c40900e/Periodic%2520Table%2520of%2520Elements.csv")

* Use argument `header` to set row number(s) containing column labels and marking the start of the data (zero-indexed).
* Use argument `index_col` to set a column's values as row headings (index).

### Exercise 1: 

Try to read the data from a downloaded file rather than from an online resource, and set the `Symbol` column as row labels. Please use the csv file provided in the data/ folder.

In [ ]:
pt_0 = pd.read_csv("data/periodic_table.csv", index_col='Element')

In [ ]:
pt_0

### Note: File structure

The data for the current project is stored in a file called `periodic_table.csv`, which is located in a folder called `data/`.

```LaTex
python_plotting/
├──data/
│  └──periodic_table.csv
├──00-Recap-on-Numpy.ipynb
├──01-DataFrame.ipynb
├──02-Data-Visualization.ipynb
└──...
```

# Viewing Pandas Dataframes: Tabular data

* Pandas is a widely-used Python library for statistics, particularly on tabular data.
* Borrows many features from R's dataframes.
    * A 2-dimensional table whose columns have names and potentially have different data types.

In [ ]:
periodic_table

* The columns in a dataframe are the observed variables, and the rows are the observations.
* Using descriptive dataframe names helps us distinguish between multiple dataframes so we won’t accidentally overwrite a dataframe or read from the wrong one, just as we assign the dataframe to a variable "periodic_table".

## Use `shape` to find the shape of the DataFrame

In [3]:
print(periodic_table.shape)
print(periodic_table.shape[0])

(118, 28)
118

## Use `DataFrame.T` to transpose a DataFrame

* Sometimes want to treat columns as rows and vice versa.
* Transpose (written `.T`) doesn't copy the data, just changes the program's view of it.
* Like `columns`, it is a member variable.

In [ ]:
periodic_table.T

### Exercise 2:

After reading the data, use `help(periodic_table.head)` and `help(periodic_table.tail)` to find out what `DataFrame.head` and `DataFrame.tail` do.

1. What method call will display the first three rows of this data?
2. What method call will display the last three columns of this data? (Hint: you may need to change your view of the data.)

In [6]:
periodic_table.head(3)

,AtomicNumber,Element,Symbol,AtomicMass,NumberofNeutrons,NumberofProtons,NumberofElectrons,Period,Group,Phase,...,FirstIonization,Density,MeltingPoint,BoilingPoint,NumberOfIsotopes,Discoverer,Year,SpecificHeat,NumberofShells,NumberofValence
0,1,Hydrogen,H,1.007,0,1,1,1,1.0,gas,...,13.5984,0.000090,14.175,20.28,3.0,Cavendish,1766.0,14.304,1,1.0
1,2,Helium,He,4.002,2,2,2,1,18.0,gas,...,24.5874,0.000179,NaN,4.22,5.0,Janssen,1868.0,5.193,1,NaN
2,3,Lithium,Li,6.941,4,3,3,2,1.0,solid,...,5.3917,0.534000,453.850,1615.00,5.0,Arfvedson,1817.0,3.582,2,1.0

In [ ]:
periodic_table.T.tail(3)

## `DataFrame.columns` variable stores the column labels of the DataFrame

In [22]:
periodic_table.columns

Index(['AtomicNumber', 'Element', 'Symbol', 'AtomicMass', 'NumberofNeutrons',
       'NumberofProtons', 'NumberofElectrons', 'Period', 'Group', 'Phase',
       'Radioactive', 'Natural', 'Metal', 'Nonmetal', 'Metalloid', 'Type',
       'AtomicRadius', 'Electronegativity', 'FirstIonization', 'Density',
       'MeltingPoint', 'BoilingPoint', 'NumberOfIsotopes', 'Discoverer',
       'Year', 'SpecificHeat', 'NumberofShells', 'NumberofValence'],
      dtype='object')

## `DataFrame.index` variable stores the index (row labels) of the DataFrame

In [23]:
periodic_table.index

RangeIndex(start=0, stop=118, step=1)

## Use `DataFrame.set_index[..., ...]` to set a column’s values as row headings

In [24]:
periodic_table.set_index('Element', inplace=True, drop=False) # Setting inplace=True modifies the original DataFrame
periodic_table.head(5)

,AtomicNumber,Element,Symbol,AtomicMass,NumberofNeutrons,NumberofProtons,NumberofElectrons,Period,Group,Phase,...,FirstIonization,Density,MeltingPoint,BoilingPoint,NumberOfIsotopes,Discoverer,Year,SpecificHeat,NumberofShells,NumberofValence
Element,,,,,,,,,,,,,,,,,,,,,
Hydrogen,1,Hydrogen,H,1.007,0,1,1,1,1.0,gas,...,13.5984,0.000090,14.175,20.28,3.0,Cavendish,1766.0,14.304,1,1.0
Helium,2,Helium,He,4.002,2,2,2,1,18.0,gas,...,24.5874,0.000179,NaN,4.22,5.0,Janssen,1868.0,5.193,1,NaN
Lithium,3,Lithium,Li,6.941,4,3,3,2,1.0,solid,...,5.3917,0.534000,453.850,1615.00,5.0,Arfvedson,1817.0,3.582,2,1.0
Beryllium,4,Beryllium,Be,9.012,5,4,4,2,2.0,solid,...,9.3227,1.850000,1560.150,2742.00,6.0,Vaulquelin,1798.0,1.825,2,2.0
Boron,5,Boron,B,10.811,6,5,5,2,13.0,solid,...,8.2980,2.340000,2573.150,4200.00,6.0,Gay-Lussac,1808.0,1.026,2,3.0

In [25]:
periodic_table.index

Index(['Hydrogen', 'Helium', 'Lithium', 'Beryllium', 'Boron', 'Carbon',
       'Nitrogen', 'Oxygen', 'Fluorine', 'Neon',
       ...
       'Meitnerium', 'Darmstadtium ', 'Roentgenium ', 'Copernicium ',
       'Nihonium', 'Flerovium', 'Moscovium', 'Livermorium', 'Tennessine',
       'Oganesson'],
      dtype='object', name='Element', length=118)

# Selecting values

To access a value at the position `[i,j]` of a DataFrame, we have two options, depending on what is the meaning of *i* in use. Remember that a DataFrame provides an *index* as a way to identify the rows of the table; a row, then, has a position inside the table as well as a *label*, which uniquely identifies its *entry* in the DataFrame.

## Use `DataFrame.iloc[..., ...]` to select values by their (entry) position

`iloc`: integer-location based indexing.

Can specify location by numerical index analogously to 2D version of character selection in strings.

In [26]:
periodic_table.iloc[0, 2]

'H'

## Use `DataFrame.loc[..., ...]` to select values by their (entry) label

`loc`: label-based indexing

Can specify location by row and/or column name.

In [27]:
periodic_table.loc["Hydrogen", "Symbol"]

'H'

It's useful when we don't know the row or column index of an entry but know the labels of it.

## Access the individual Series (columns) of the DataFrame (attibute-style)

In [28]:
periodic_table.Symbol

Element
Hydrogen        H
Helium         He
Lithium        Li
Beryllium      Be
Boron           B
               ..
Flerovium      Fl
Moscovium      Mc
Livermorium    Lv
Tennessine     Ts
Oganesson      Og
Name: Symbol, Length: 118, dtype: object

In [29]:
# access the individual data
periodic_table.Symbol['Carbon']

'C'

In [30]:
# Equivalently, via dictionary-style indexing
periodic_table['Symbol']

Element
Hydrogen        H
Helium         He
Lithium        Li
Beryllium      Be
Boron           B
               ..
Flerovium      Fl
Moscovium      Mc
Livermorium    Lv
Tennessine     Ts
Oganesson      Og
Name: Symbol, Length: 118, dtype: object

In [31]:
# select multiple columns
periodic_table[['AtomicNumber', 'Symbol']]

             AtomicNumber Symbol
Element
Hydrogen                1      H
Helium                  2     He
Lithium                 3     Li
Beryllium               4     Be
Boron                   5      B
...                   ...    ...
Flerovium             114     Fl
Moscovium             115     Mc
Livermorium           116     Lv
Tennessine            117     Ts
Oganesson             118     Og

[118 rows x 2 columns]

Note we need to use the nested list to select multiple columns. This is a very effective way to subtract subset from a dataframe.

In [32]:
# access the individual data
periodic_table['Symbol']['Carbon']

'C'

## Select multiple columns or rows

### Slicing by implicit integer index (only works for rows)

In [33]:
periodic_table[0:5]

,AtomicNumber,Element,Symbol,AtomicMass,NumberofNeutrons,NumberofProtons,NumberofElectrons,Period,Group,Phase,...,FirstIonization,Density,MeltingPoint,BoilingPoint,NumberOfIsotopes,Discoverer,Year,SpecificHeat,NumberofShells,NumberofValence
Element,,,,,,,,,,,,,,,,,,,,,
Hydrogen,1,Hydrogen,H,1.007,0,1,1,1,1.0,gas,...,13.5984,0.000090,14.175,20.28,3.0,Cavendish,1766.0,14.304,1,1.0
Helium,2,Helium,He,4.002,2,2,2,1,18.0,gas,...,24.5874,0.000179,NaN,4.22,5.0,Janssen,1868.0,5.193,1,NaN
Lithium,3,Lithium,Li,6.941,4,3,3,2,1.0,solid,...,5.3917,0.534000,453.850,1615.00,5.0,Arfvedson,1817.0,3.582,2,1.0
Beryllium,4,Beryllium,Be,9.012,5,4,4,2,2.0,solid,...,9.3227,1.850000,1560.150,2742.00,6.0,Vaulquelin,1798.0,1.825,2,2.0
Boron,5,Boron,B,10.811,6,5,5,2,13.0,solid,...,8.2980,2.340000,2573.150,4200.00,6.0,Gay-Lussac,1808.0,1.026,2,3.0

### Equivalently, using `iloc` for integer-location based indexing

In [34]:
periodic_table.iloc[0:5]

,AtomicNumber,Element,Symbol,AtomicMass,NumberofNeutrons,NumberofProtons,NumberofElectrons,Period,Group,Phase,...,FirstIonization,Density,MeltingPoint,BoilingPoint,NumberOfIsotopes,Discoverer,Year,SpecificHeat,NumberofShells,NumberofValence
Element,,,,,,,,,,,,,,,,,,,,,
Hydrogen,1,Hydrogen,H,1.007,0,1,1,1,1.0,gas,...,13.5984,0.000090,14.175,20.28,3.0,Cavendish,1766.0,14.304,1,1.0
Helium,2,Helium,He,4.002,2,2,2,1,18.0,gas,...,24.5874,0.000179,NaN,4.22,5.0,Janssen,1868.0,5.193,1,NaN
Lithium,3,Lithium,Li,6.941,4,3,3,2,1.0,solid,...,5.3917,0.534000,453.850,1615.00,5.0,Arfvedson,1817.0,3.582,2,1.0
Beryllium,4,Beryllium,Be,9.012,5,4,4,2,2.0,solid,...,9.3227,1.850000,1560.150,2742.00,6.0,Vaulquelin,1798.0,1.825,2,2.0
Boron,5,Boron,B,10.811,6,5,5,2,13.0,solid,...,8.2980,2.340000,2573.150,4200.00,6.0,Gay-Lussac,1808.0,1.026,2,3.0

### Slicing by explicit/named index

In [35]:
periodic_table['Hydrogen':'Carbon']

,AtomicNumber,Element,Symbol,AtomicMass,NumberofNeutrons,NumberofProtons,NumberofElectrons,Period,Group,Phase,...,FirstIonization,Density,MeltingPoint,BoilingPoint,NumberOfIsotopes,Discoverer,Year,SpecificHeat,NumberofShells,NumberofValence
Element,,,,,,,,,,,,,,,,,,,,,
Hydrogen,1,Hydrogen,H,1.007,0,1,1,1,1.0,gas,...,13.5984,0.000090,14.175,20.28,3.0,Cavendish,1766.0,14.304,1,1.0
Helium,2,Helium,He,4.002,2,2,2,1,18.0,gas,...,24.5874,0.000179,NaN,4.22,5.0,Janssen,1868.0,5.193,1,NaN
Lithium,3,Lithium,Li,6.941,4,3,3,2,1.0,solid,...,5.3917,0.534000,453.850,1615.00,5.0,Arfvedson,1817.0,3.582,2,1.0
Beryllium,4,Beryllium,Be,9.012,5,4,4,2,2.0,solid,...,9.3227,1.850000,1560.150,2742.00,6.0,Vaulquelin,1798.0,1.825,2,2.0
Boron,5,Boron,B,10.811,6,5,5,2,13.0,solid,...,8.2980,2.340000,2573.150,4200.00,6.0,Gay-Lussac,1808.0,1.026,2,3.0
Carbon,6,Carbon,C,12.011,6,6,6,2,14.0,solid,...,11.2603,2.270000,3948.150,4300.00,7.0,Prehistoric,NaN,0.709,2,4.0

### Equivalently, using `loc` for label-based indexing

In [36]:
periodic_table.loc['Hydrogen':'Carbon']

,AtomicNumber,Element,Symbol,AtomicMass,NumberofNeutrons,NumberofProtons,NumberofElectrons,Period,Group,Phase,...,FirstIonization,Density,MeltingPoint,BoilingPoint,NumberOfIsotopes,Discoverer,Year,SpecificHeat,NumberofShells,NumberofValence
Element,,,,,,,,,,,,,,,,,,,,,
Hydrogen,1,Hydrogen,H,1.007,0,1,1,1,1.0,gas,...,13.5984,0.000090,14.175,20.28,3.0,Cavendish,1766.0,14.304,1,1.0
Helium,2,Helium,He,4.002,2,2,2,1,18.0,gas,...,24.5874,0.000179,NaN,4.22,5.0,Janssen,1868.0,5.193,1,NaN
Lithium,3,Lithium,Li,6.941,4,3,3,2,1.0,solid,...,5.3917,0.534000,453.850,1615.00,5.0,Arfvedson,1817.0,3.582,2,1.0
Beryllium,4,Beryllium,Be,9.012,5,4,4,2,2.0,solid,...,9.3227,1.850000,1560.150,2742.00,6.0,Vaulquelin,1798.0,1.825,2,2.0
Boron,5,Boron,B,10.811,6,5,5,2,13.0,solid,...,8.2980,2.340000,2573.150,4200.00,6.0,Gay-Lussac,1808.0,1.026,2,3.0
Carbon,6,Carbon,C,12.011,6,6,6,2,14.0,solid,...,11.2603,2.270000,3948.150,4300.00,7.0,Prehistoric,NaN,0.709,2,4.0

In [37]:
periodic_table.iloc[0:5, 1:3]

             Element Symbol
Element
Hydrogen    Hydrogen      H
Helium        Helium     He
Lithium      Lithium     Li
Beryllium  Beryllium     Be
Boron          Boron      B

In [38]:
periodic_table.loc['Hydrogen':'Carbon', 'Element':'AtomicMass']

             Element Symbol  AtomicMass
Element
Hydrogen    Hydrogen      H       1.007
Helium        Helium     He       4.002
Lithium      Lithium     Li       6.941
Beryllium  Beryllium     Be       9.012
Boron          Boron      B      10.811
Carbon        Carbon      C      12.011

### Exercise 3:  

What's the difference between slicing with a label index and slicing with an integer index?

Answer:

Integer index: [0:5] 5 is not included. Label index: ['Hydrogen':'Carbon'] 'Carbon' is included.

## *30 min till now*

## Select values or NaN using a Boolean mask

Direct masking operations are interpreted row-wise rather than column-wise.

In [39]:
periodic_table['AtomicMass'] < 10

Element
Hydrogen        True
Helium          True
Lithium         True
Beryllium       True
Boron          False
               ...
Flerovium      False
Moscovium      False
Livermorium    False
Tennessine     False
Oganesson      False
Name: AtomicMass, Length: 118, dtype: bool

In [40]:
periodic_table[(periodic_table['AtomicMass'] < 10) & (periodic_table['Density'] > 0.5)]

,AtomicNumber,Element,Symbol,AtomicMass,NumberofNeutrons,NumberofProtons,NumberofElectrons,Period,Group,Phase,...,FirstIonization,Density,MeltingPoint,BoilingPoint,NumberOfIsotopes,Discoverer,Year,SpecificHeat,NumberofShells,NumberofValence
Element,,,,,,,,,,,,,,,,,,,,,
Lithium,3,Lithium,Li,6.941,4,3,3,2,1.0,solid,...,5.3917,0.534,453.85,1615.0,5.0,Arfvedson,1817.0,3.582,2,1.0
Beryllium,4,Beryllium,Be,9.012,5,4,4,2,2.0,solid,...,9.3227,1.850,1560.15,2742.0,6.0,Vaulquelin,1798.0,1.825,2,2.0

### Exercise 4: 

Please get data with melting point higher than boiling point.

In [41]:
periodic_table[(periodic_table['MeltingPoint'] > periodic_table['BoilingPoint'])]

,AtomicNumber,Element,Symbol,AtomicMass,NumberofNeutrons,NumberofProtons,NumberofElectrons,Period,Group,Phase,...,FirstIonization,Density,MeltingPoint,BoilingPoint,NumberOfIsotopes,Discoverer,Year,SpecificHeat,NumberofShells,NumberofValence
Element,,,,,,,,,,,,,,,,,,,,,
Arsenic,33,Arsenic,As,74.922,42,33,33,4,15.0,solid,...,9.7886,5.78,1090.15,887.0,14.0,Albertus Magnus,1250.0,0.329,4,5.0
Berkelium,97,Berkelium,Bk,247.000,150,97,97,7,NaN,artificial,...,6.1979,14.80,1259.15,983.0,83.0,Seaborg et al.,1949.0,NaN,7,NaN
Californium,98,Californium,Cf,251.000,153,98,98,7,NaN,artificial,...,6.2817,15.10,1925.15,1173.0,123.0,Seaborg et al.,1950.0,NaN,7,NaN

# Handling Missing Data

## Missing data in Pandas

`None`: Pythonic missing data, which cannot be used in any arbitrary NumPy/Pandas array, but only in arrays with data type 'object' (i.e., arrays of Python objects).

`NaN`: Missing numerical data (acronym for *Not a Number*), a special floating-point value.

In [42]:
import numpy as np

example1 = np.array([0, 1, 2, 3])
example2 = np.array([0, 1, None, 3])
print(example1.dtype, example2.dtype)

int64 object

In [43]:
example1 + 5

array([5, 6, 7, 8])

In [44]:
example2 + 5

TypeError: unsupported operand type(s) for +: 'NoneType' and 'int'

In [45]:
example3 = np.array([0, 1, np.nan, 3])
print(example3.dtype)

float64

In [46]:
example3 + 5

array([ 5.,  6., nan,  8.])

Pandas is built to handle `NaN` and `None` nearly interchangeable.

## Detecting null values with `isna`

We can use `isna` to generate a boolean mask indicating missing values.

In [47]:
periodic_table.isna()

,AtomicNumber,Element,Symbol,AtomicMass,NumberofNeutrons,NumberofProtons,NumberofElectrons,Period,Group,Phase,...,FirstIonization,Density,MeltingPoint,BoilingPoint,NumberOfIsotopes,Discoverer,Year,SpecificHeat,NumberofShells,NumberofValence
Element,,,,,,,,,,,,,,,,,,,,,
Hydrogen,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
Helium,False,False,False,False,False,False,False,False,False,False,...,False,False,True,False,False,False,False,False,False,True
Lithium,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
Beryllium,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
Boron,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Flerovium,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,False,True,False,False
Moscovium,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,False,True,False,False
Livermorium,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,False,True,False,False
Tennessine,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,False,True,False,False
Oganesson,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,False,True,False,False

In [48]:
periodic_table.isna().sum()

AtomicNumber           0
Element                0
Symbol                 0
AtomicMass             0
NumberofNeutrons       0
NumberofProtons        0
NumberofElectrons      0
Period                 0
Group                 28
Phase                  0
Radioactive           81
Natural               28
Metal                 26
Nonmetal              99
Metalloid            111
Type                   3
AtomicRadius          32
Electronegativity     22
FirstIonization       16
Density               13
MeltingPoint          20
BoilingPoint          20
NumberOfIsotopes      15
Discoverer             9
Year                  11
SpecificHeat          33
NumberofShells         0
NumberofValence       69
dtype: int64

In [49]:
periodic_table.isna().sum(axis=1)

Element
Hydrogen        3
Helium          6
Lithium         3
Beryllium       3
Boron           3
               ..
Flerovium      12
Moscovium      13
Livermorium    12
Tennessine     13
Oganesson      12
Length: 118, dtype: int64

## Removing null values with `dropna`

We cannot drop single values from a DataFrame; we can only drop full rows or full columns. By default, `dropna` will drop all rows in which any null value is present.

In [50]:
periodic_table.dropna()

Empty DataFrame
Columns: [AtomicNumber, Element, Symbol, AtomicMass, NumberofNeutrons, NumberofProtons, NumberofElectrons, Period, Group, Phase, Radioactive, Natural, Metal, Nonmetal, Metalloid, Type, AtomicRadius, Electronegativity, FirstIonization, Density, MeltingPoint, BoilingPoint, NumberOfIsotopes, Discoverer, Year, SpecificHeat, NumberofShells, NumberofValence]
Index: []

[0 rows x 28 columns]

Alternatively, we can drop missing values along a different axis; axis=1 drops all columns containing a null value.

In [51]:
periodic_table.dropna(axis=1).shape

(118, 10)

Use `subset` to specify labels along other axis to consider. For example, if you are dropping rows these would be a list of columns to include.

In [52]:
periodic_table.dropna(subset=['Density']).shape

(105, 28)

In [53]:
periodic_table.dropna(axis=1, subset=['Hydrogen']).shape

(118, 25)

Dropping rows or columns with all missing values or a majority of missing values can be specified through the `how` or `thresh` parameters.

### Exercise 5: 

Drop rows with missing Nonmetal values and print only the `Group` and `Nonmetal` columns.

In [54]:
periodic_table.dropna(subset=['Nonmetal'])[['Group', 'Nonmetal']]

            Group Nonmetal
Element
Hydrogen      1.0      yes
Helium       18.0      yes
Carbon       14.0      yes
Nitrogen     15.0      yes
Oxygen       16.0      yes
Fluorine     17.0      yes
Neon         18.0      yes
Phosphorus   15.0      yes
Sulfur       16.0      yes
Chlorine     17.0      yes
Argon        18.0      yes
Selenium     16.0      yes
Bromine      17.0      yes
Krypton      18.0      yes
Iodine       17.0      yes
Xenon        18.0      yes
Astatine     17.0      yes
Tennessine   17.0      yes
Oganesson    18.0      yes

Alternatively,

In [ ]:
periodic_table.dropna(subset=['Nonmetal']).loc[:, ['Group', 'Nonmetal']]

# Manipulating data in the DataFrame

## Create a new column from the existing data

Create a column with NumberofNeutrons + NumberofProtons

In [55]:
periodic_table['Core'] = periodic_table['NumberofNeutrons'] + periodic_table['NumberofProtons']

In [56]:
periodic_table.head()

,AtomicNumber,Element,Symbol,AtomicMass,NumberofNeutrons,NumberofProtons,NumberofElectrons,Period,Group,Phase,...,Density,MeltingPoint,BoilingPoint,NumberOfIsotopes,Discoverer,Year,SpecificHeat,NumberofShells,NumberofValence,Core
Element,,,,,,,,,,,,,,,,,,,,,
Hydrogen,1,Hydrogen,H,1.007,0,1,1,1,1.0,gas,...,0.000090,14.175,20.28,3.0,Cavendish,1766.0,14.304,1,1.0,1
Helium,2,Helium,He,4.002,2,2,2,1,18.0,gas,...,0.000179,NaN,4.22,5.0,Janssen,1868.0,5.193,1,NaN,4
Lithium,3,Lithium,Li,6.941,4,3,3,2,1.0,solid,...,0.534000,453.850,1615.00,5.0,Arfvedson,1817.0,3.582,2,1.0,7
Beryllium,4,Beryllium,Be,9.012,5,4,4,2,2.0,solid,...,1.850000,1560.150,2742.00,6.0,Vaulquelin,1798.0,1.825,2,2.0,9
Boron,5,Boron,B,10.811,6,5,5,2,13.0,solid,...,2.340000,2573.150,4200.00,6.0,Gay-Lussac,1808.0,1.026,2,3.0,11

If the logic for creating the new column is more complex and requires a custom function, the [`apply`](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.apply.html) method can be used.

## Combining datasets

Simple concatenation with `pd.concat`:

In [57]:
d = [{'A': i, 'B': 2 * i}
     for i in range(3)]
df1 = pd.DataFrame(d)
df1

   A  B
0  0  0
1  1  2
2  2  4

In [58]:
d = [{'A': i, 'B': -i}
     for i in range(3)]
df2 = pd.DataFrame(d)
df2

   A  B
0  0  0
1  1 -1
2  2 -2

In [59]:
pd.concat([df1, df2], axis=0)

   A  B
0  0  0
1  1  2
2  2  4
0  0  0
1  1 -1
2  2 -2

In [60]:
d = [{'A': i, 'C': -i}
     for i in range(3)]
df3 = pd.DataFrame(d)
df3

   A  C
0  0  0
1  1 -1
2  2 -2

In [61]:
pd.concat([df1, df3], ignore_index=True)

   A    B    C
0  0  0.0  NaN
1  1  2.0  NaN
2  2  4.0  NaN
3  0  NaN  0.0
4  1  NaN -1.0
5  2  NaN -2.0

We should pay attention to how it works.

# Aggregation and Grouping

Pandas vectorizing methods and grouping operations are features that provide users much flexibility to analyse their data.

## Simple Aggregation in Pandas

Earlier, we explored some of the data aggregations available for NumPy arrays (sum, min, max). For a DataFrame, by default the aggregates return results within each column.

In [62]:
periodic_table['NumberofElectrons'].sum()

np.int64(7021)

In addition to all of the common aggregates, there is a convenience method `describe` that computes several common aggregates for each column and returns the result.

In [63]:
periodic_table.describe()

,AtomicNumber,AtomicMass,NumberofNeutrons,NumberofProtons,NumberofElectrons,Period,Group,AtomicRadius,Electronegativity,FirstIonization,Density,MeltingPoint,BoilingPoint,NumberOfIsotopes,Year,SpecificHeat,NumberofShells,NumberofValence,Core
count,118.000000,118.000000,118.000000,118.000000,118.000000,118.000000,90.000000,86.000000,96.000000,102.000000,105.000000,98.000000,98.000000,103.000000,107.000000,85.000000,118.000000,49.000000,118.000000
mean,59.500000,145.988297,86.483051,59.500000,59.500000,5.254237,9.944444,1.825814,1.695000,7.988505,9.232161,1281.475184,2513.143163,28.116505,1865.280374,0.635976,5.254237,4.428571,145.983051
std,34.207699,88.954899,54.785320,34.207699,34.207699,1.618200,5.597674,0.611058,0.621174,3.334571,8.630406,903.685175,1601.901036,35.864205,97.951740,1.653965,1.618200,2.345208,88.945386
min,1.000000,1.007000,0.000000,1.000000,1.000000,1.000000,1.000000,0.490000,0.700000,3.893900,0.000090,14.175000,4.220000,3.000000,1250.000000,0.094000,1.000000,1.000000,1.000000
25%,30.250000,66.465750,36.000000,30.250000,30.250000,4.000000,5.000000,1.425000,1.237500,6.004850,2.700000,510.695000,1069.000000,11.000000,1803.500000,0.168000,4.000000,2.000000,66.250000
50%,59.500000,142.575000,83.000000,59.500000,59.500000,6.000000,10.500000,1.800000,1.585000,6.960250,7.290000,1204.150000,2767.000000,19.000000,1878.000000,0.244000,6.000000,4.000000,142.500000
75%,88.750000,226.750000,138.000000,88.750000,88.750000,7.000000,15.000000,2.200000,2.062500,8.964925,12.000000,1811.150000,3596.750000,24.000000,1940.000000,0.489000,7.000000,6.000000,226.750000
max,118.000000,295.000000,178.000000,118.000000,118.000000,7.000000,18.000000,3.300000,3.980000,24.587400,41.000000,3948.150000,5869.000000,203.000000,2010.000000,14.304000,7.000000,8.000000,295.000000

## GroupBy: Split, Apply, Combine

Simple aggregations can give you a flavor of your dataset, but often we would prefer to aggregate conditionally on some label or index: this is implemented in the so-called `groupby` operation. 

Here we'll look at the basics of *GroupBy* operations, where the "apply" is a summation aggregation (image adopted from [Python Data Science Handbook](https://jakevdp.github.io/PythonDataScienceHandbook/index.html)).

![image](https://jakevdp.github.io/PythonDataScienceHandbook/figures/03.08-split-apply-combine.png)

This makes clear what the groupby accomplishes:

* The *split* step involves breaking up and grouping a DataFrame depending on the value of the specified key.
* The *apply* step involves computing some function, usually an aggregate, transformation, or filtering, within the individual groups.
* The *combine* step merges the results of these operations into an output array.

Group data in the periodic table by groups (families):

In [64]:
periodic_table.groupby(['Group']).count()

,AtomicNumber,Element,Symbol,AtomicMass,NumberofNeutrons,NumberofProtons,NumberofElectrons,Period,Phase,Radioactive,...,Density,MeltingPoint,BoilingPoint,NumberOfIsotopes,Discoverer,Year,SpecificHeat,NumberofShells,NumberofValence,Core
Group,,,,,,,,,,,,,,,,,,,,,
1.0,7,7,7,7,7,7,7,7,7,1,...,7,7,7,7,7,7,6,7,7,7
2.0,6,6,6,6,6,6,6,6,6,1,...,6,6,6,6,6,6,5,6,6,6
3.0,4,4,4,4,4,4,4,4,4,1,...,4,4,4,4,4,4,4,4,0,4
4.0,4,4,4,4,4,4,4,4,4,1,...,4,3,3,3,4,4,3,4,0,4
5.0,4,4,4,4,4,4,4,4,4,1,...,4,3,3,3,4,4,3,4,0,4
6.0,4,4,4,4,4,4,4,4,4,1,...,4,3,3,3,4,4,3,4,0,4
7.0,4,4,4,4,4,4,4,4,4,2,...,4,3,3,3,4,4,2,4,0,4
8.0,4,4,4,4,4,4,4,4,4,1,...,4,3,3,3,4,3,3,4,0,4
9.0,4,4,4,4,4,4,4,4,4,1,...,4,3,3,3,4,4,3,4,0,4
10.0,4,4,4,4,4,4,4,4,4,1,...,3,3,3,3,3,4,3,4,0,4
11.0,4,4,4,4,4,4,4,4,4,1,...,3,3,3,3,3,1,3,4,0,4
12.0,4,4,4,4,4,4,4,4,4,1,...,3,3,3,3,3,2,3,4,0,4
13.0,6,6,6,6,6,6,6,6,6,1,...,5,5,5,5,5,6,5,6,6,6
14.0,6,6,6,6,6,6,6,6,6,1,...,5,5,5,5,5,3,5,6,6,6
15.0,6,6,6,6,6,6,6,6,6,1,...,5,5,5,5,5,5,5,6,6,6
16.0,6,6,6,6,6,6,6,6,6,2,...,5,5,5,5,5,5,4,6,6,6
17.0,6,6,6,6,6,6,6,6,6,2,...,5,5,5,5,5,6,4,6,6,6
18.0,7,7,7,7,7,7,7,7,7,2,...,6,5,6,6,6,7,6,7,6,7

### Exercise 6:

How to group data by periods?

In [65]:
periodic_table.groupby(['Period']).count()

,AtomicNumber,Element,Symbol,AtomicMass,NumberofNeutrons,NumberofProtons,NumberofElectrons,Group,Phase,Radioactive,...,Density,MeltingPoint,BoilingPoint,NumberOfIsotopes,Discoverer,Year,SpecificHeat,NumberofShells,NumberofValence,Core
Period,,,,,,,,,,,,,,,,,,,,,
1,2,2,2,2,2,2,2,2,2,0,...,2,1,2,2,2,2,2,2,1,2
2,8,8,8,8,8,8,8,8,8,0,...,8,8,8,8,8,7,8,8,8,8
3,8,8,8,8,8,8,8,8,8,0,...,8,8,8,8,8,7,8,8,8,8
4,18,18,18,18,18,18,18,18,18,0,...,18,18,18,18,18,15,18,18,8,18
5,18,18,18,18,18,18,18,18,18,1,...,18,18,18,18,18,15,17,18,8,18
6,32,32,32,32,32,32,32,18,32,4,...,32,32,32,32,32,29,29,32,8,32
7,32,32,32,32,32,32,32,18,32,32,...,19,13,12,17,23,32,3,32,8,32

### Exercise 7:

Calculate the average Atomic Mass of data grouped by Period.

In [66]:
periodic_table.groupby(['Period'])['AtomicMass'].mean()

Period
1      2.504500
2     13.494875
3     30.100375
4     60.678833
5    106.213556
6    174.271312
7    259.128219
Name: AtomicMass, dtype: float64

We can specify a groupby using the names of table columns and compute other functions, such as the `sum`, `count`, `mean`, and `describe`.

In [67]:
periodic_table.groupby(['Group'])['Density'].describe()

,count,mean,std,min,25%,50%,75%,max
Group,,,,,,,,
1.0,7.0,1.091013,0.703986,0.000090,0.69800,0.971000,1.70000,1.87000
2.0,6.0,2.810000,1.520053,1.540000,1.76750,2.245000,3.35250,5.50000
3.0,4.0,5.927500,3.066620,2.990000,4.10000,5.310000,7.13750,10.10000
4.0,4.0,10.612500,6.244760,4.540000,6.01750,9.905000,14.50000,18.10000
5.0,4.0,17.595000,14.970314,6.110000,7.95500,12.635000,22.27500,39.00000
6.0,4.0,17.912500,12.506290,7.150000,9.43750,14.750000,23.22500,35.00000
7.0,4.0,19.235000,13.135990,7.440000,10.48500,16.250000,25.00000,37.00000
8.0,4.0,20.967500,14.707285,7.870000,11.26750,17.500000,27.20000,41.00000
9.0,4.0,19.715000,11.737329,8.860000,11.51500,17.500000,25.70000,35.00000
10.0,3.0,14.136667,6.561329,8.910000,10.45500,12.000000,16.75000,21.50000
11.0,3.0,12.920000,5.578638,8.960000,9.73000,10.500000,14.90000,19.30000
12.0,3.0,9.773333,3.320306,7.130000,7.91000,8.690000,11.09500,13.50000
13.0,5.0,6.032000,3.899188,2.340000,2.70000,5.910000,7.31000,11.90000
14.0,5.0,5.702000,3.780022,2.270000,2.33000,5.320000,7.29000,11.30000
15.0,5.0,4.820250,3.922338,0.001250,1.82000,5.780000,6.69000,9.81000
16.0,5.0,4.486286,3.621550,0.001430,2.07000,4.810000,6.23000,9.32000
17.0,5.0,3.010982,3.070393,0.001700,0.00321,3.120000,4.93000,7.00000
18.0,6.0,0.003701,0.003608,0.000179,0.00112,0.002755,0.00535,0.00973

### Exercise 8:

As well as the `read_csv` function for reading data from a file, Pandas provides a [`to_csv`](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.to_csv.html) function to write dataframes to files. Applying what you’ve learned about reading from files, write one of your dataframes to a file called `processed.csv`. You can use help to get information on how to use `to_csv`.

In [ ]:
periodic_table.to_csv('data/periodic_table.csv', index=False)

## Bonus

There are at least two ways of accessing a value or slice of a DataFrame: by name or index. However, there are many others. For example, a single column or row can be accessed either as a `DataFrame` or a `Series` object.

Suggest different ways of doing the following operations on a DataFrame:

1. Access a single column
2. Access a single row
3. Access an individual DataFrame element
4. Access several columns
5. Access several rows
6. Access a subset of specific rows and columns
7. Access a subset of row and column ranges

Solutions are [here](https://swcarpentry.github.io/python-novice-gapminder/08-data-frames.html#many-ways-of-access).